ul, li {
	display: block;
	padding: 0;
	margin: 0;
	outline: none !important;
}
h1,h2,h3 {
  padding: 0;
  margin: 0;
}
* {
	outline: none !important;
}
.container {
	max-width: 1280px !important;
	/*padding: 0px !important;*/
	/*overflow: hidden;*/
	/*padding-bottom: 60px;*/
}
a:hover {
	text-decoration: none;
	color: #fff;
}
ul,li {
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box !important;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.flexc {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.visi {
	overflow: visible !important;
}
.br {
	border: 1px solid red;
}

.color_w {
color: #fff;
}
.color_b {
	color: #000;
}

/*==========================================*/
.header_cont_icon {
	position: relative;
	top: 1px;
}
#top_margin {
	height: 121px;
}
.offer_form {
	-webkit-box-shadow: 0px 10px 20px 0px rgba(85,19,160,.3);
-moz-box-shadow: 0px 10px 20px 0px rgba(85,19,160,.3);
box-shadow: 0px 10px 20px 0px rgba(85,19,160,.3);
border-radius: 10px;
}
.header {
position: fixed;
width: 100%;
background: #fff;
z-index: 500;
/*-webkit-box-shadow: 0px 5px 15px 0px rgba(85,19,160,.1);
-moz-box-shadow: 0px 5px 15px 0px rgba(85,19,160,.1);
box-shadow: 0px 5px 15px 0px rgba(85,19,160,.1);*/
}
.header_btn_call {
	width: 117px;
	height: 50px;
	background: #E72F4F;
	border-radius: 50px;
	text-transform: uppercase;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	 font-family: 'CocogooseClassic-Medium'; 
	 transition: .3s;
}
.header_btn_call:hover {
	background: #FF5371;
	cursor: pointer;
}
.header_wrap_logo {
	justify-content: space-between;
	padding: 5px 40px;
}
.header_cont_icon svg {
	fill: #34333C;
}
.header_btn_cont span {
	color:#34333C; 
	margin-left: 6px;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'CocogooseClassic-Medium'; 
}
.header_cont_icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_btn {
	display: flex;
	align-items: center;
}
.header_btn_call {
	margin-left: 30px;
}
.header_border {
	height: 1px;
	background: #D4D4E0;
}
.header_nav {
	/*padding: 18px 40px;*/
}
.header_nav a {
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'CocogooseClassic-Medium';
	margin-right: 30px;
	color: #34333C;
	transition: .3s;
}
.header_nav a:hover {
	color: #5513A0;
}
#offer {
	background: url(../img/bg.jpg)no-repeat center center/cover;
}

.offer_form img{
/*	width: 360px;
	height: 398px;*/
	/*background: #FAFAFE;*/
	border-radius: 10px;
}
.offer_form_wrap {
	display: flex;
	justify-content: flex-end;
}
.offer_main_title h1{
font-size: 60px;
color: #fff;
font-family: 'CocogooseClassic-Light'; 
}
.offer_main_title h1 span{
color: red;
}
.offer_main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*padding-bottom: 40px;*/
	position: relative;
	top: -40px;
}
.offer_main_text {
	font-size: 20px;
	color: #fff;
font-family: 'CocogooseClassic-Light'; 
margin-top: 25px;
}
.header_btn a:hover .header_cont_icon svg{
   fill: #5513A0;
}

.header_btn a:hover .header_btn_cont span{
   color:#5513A0;
}

/*customers*/

#customers .slick-slide {
	height: 160px;
	border:1px solid #D4D4E0;
	border-radius: 10px;
	padding: 30px 25px 25px 25px;
}
#customers .slick-slider {
    margin:0 -15px;
}
#customers .slick-slide {
    margin-right:19px;
    margin-left:19px;
}
.customers_wrap {
	/*overflow: hidden;*/
}
.slide_rew {
	font-size: 16px;
	font-family: 'CocogooseClassic-Bold';
	margin-top: 5px;
}
.slide_des_rating {
	font-size: 30px;
	font-family: 'CocogooseClassic-Bold';
}
.slide_des_foto {
	width: 91px;
	height: 32px;
}
.slide_des_foto img {
	width: 100%;
}
.slide_des {
	justify-content: space-between;
	align-items: center;
}
.slide_des {
	margin-bottom: 20px;
}
.customers_wrap {
	margin-top: 55px;
}

#customers .slick-prev {
    /*border: 1px solid red;*/
    background: #D4D4E0 url(../img/arr_right.png)no-repeat center center;
    width: 60px;
    height: 60px;
    z-index: 100;
   transition: .3s;
}
#customers .slick-prev:hover {
    /*border: 1px solid red;*/
    background: #dddde4 url(../img/arr_right.png)no-repeat center center;
}
#customers .slick-next:hover {
    /*border: 1px solid red;*/
    background: #dddde4 url(../img/arr_left.png)no-repeat center center;
}
#customers .slick-next { 
    /*border: 1px solid red;*/
    background: #D4D4E0 url(../img/arr_left.png)no-repeat center center;
    width: 60px;
    height: 60px;
    z-index: 100;  
}
#customers .slick-prev::before {
    content: '';
}
#customers .slick-next::before {
    content: '';
}

#customers .slick-next {
    right: 16px;
    top: -90px;
}
#customers .slick-prev {
    left: 100%;
    top: -90px;
    margin-left: -137px;
}
#why .slick-slider {
    margin:0 -20px;
}
#why .slick-slide {
    margin:0px 22px;
}
.point {
	width: 4px;
	height: 4px;
	background: #34333C;
	border-radius: 50px;
}
































.title_bloc h2 {
	font-family: 'CocogooseClassic-Light'; 
	font-size: 60px;
	line-height: 70px;
}
.bg_fiol {
	background: #5513A0;
}
.title_under {
	font-family: 'CocogooseClassic-Medium';   
	font-size: 20px;
	line-height: 28px;
}
.margin_30 {
margin: 30px 0px;
}
.why {
padding-top: 100px;
padding-bottom: 100px;
background: #5513A0 url(../img/wave.png) no-repeat center center/cover;
overflow: hidden;
}
.btn_block {
	background: #E72F4F;
	height: 60px;
	font-size:16px;
	text-transform: uppercase;
	font-family: 'CocogooseClassic-Bold';
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(231,47,79,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(231,47,79,1);
box-shadow: 0px 0px 10px 0px rgba(231,47,79,1);
transition: .3s;
}
.btn_block:hover {
	background: #FF5371;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(255,83,113,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(255,83,113,1);
box-shadow: 0px 0px 10px 0px rgba(255,83,113,1);
cursor: pointer;
}
.why_slid {
	width: 360px !important;
	height: 327px;
	background:#fff;
	border-radius: 20px;
	padding: 40px;
}

.why_slid_title {
	color:#5513A0;
	text-transform: uppercase;
	font-size: 16px;
	 font-family: 'CocogooseClassic-Bold'; 
	 margin: 10px 0px
}
.why_slid_text {
	color: #8A8E96;
	font-size: 18px;
	line-height: 28px;
	font-family: 'CocogooseClassic-Light';
}
.why_step_wrap {
	padding-top: 10px;
	padding-bottom: 40px;
}

#step .title_bloc h2 {
	width: 750px;
}

#step .btn_block {
background: #5513A0;
-webkit-box-shadow: 0px 10px 5px 0px rgba(85,19,160,.7);
-moz-box-shadow: 0px 5px 20px 0px rgba(85,19,160,.7);
box-shadow: 0px 5px 20px 0px rgba(85,19,160,.7);
transition: .3s;
}
#step .btn_block:hover {
-webkit-box-shadow: 0px 5px 15px 0px rgba(123,46,210,.8);
-moz-box-shadow: 0px 5px 15px 0px rgba(123,46,210,.8);
box-shadow: 0px 5px 15px 0px rgba(123,46,210,.8);
background: #7B2ED2;
cursor: pointer;
}
#step {
background: #FAFAFE;
}
section {
	padding-top: 100px;
	padding-bottom: 100px;
}
.step_card {
	width: 300px;
	padding: 5px;
}
.step_card_ikon {
	margin-bottom: 30px;
}

.step_wrap {
	justify-content: space-between;
	margin:50px 0px; 
}


/*#why .owl-stage {
	display: flex !important;
	justify-content: space-between !important;
}
#why .owl-stage-outer {
	display: flex !important;
	justify-content: space-between !important;
}
#why .owl-carousel {
	display: flex !important;
	justify-content: space-between !important;
}
*/
.questions_foto_wrap {
	display: flex;
	justify-content: flex-end;
}



/* стили блока аккордеон */
.accordion {
  width:90%;
  /*margin: 0 auto*/
}
/* секции аккордеона */
.accordion .accordion_item {
  margin-bottom:20px;
  position:relative
}
/* заголовки панелей аккордеона */
.accordion .title_block {
  font-weight: 400;
  font-size: 18px;
  color: #373737;
  cursor:pointer;
  /*background: #009688;*/
  padding:20px 55px 20px 15px;
  -webkit-transition:all .3s linear 0;
  -webkit-transition-delay:.3s 0;
  transition:all .3s linear 0;
 
}
.accordion_item{

/*border: 1px solid #5513A0;*/
}
/* переключатель панелей, положение вниз */
.title_block {
transition: .3s;
}
.accordion .title_block:before {
  content:'';
  height:10px;
  width:10px;
  display:block;
  border:3px solid #5513A0;
  border-right-width:0;
  border-top-width:0;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  position:absolute;
  right:20px;
  top:26px
}
/* активный переключатель, положение вверх */
.accordion .active_block .title_block:before {
  border:3px solid #5513A0;
  border-left-width:0;
  border-bottom-width:0;
  top:18px
    -ms-transform:rotate(-130deg);
  -webkit-transform:rotate(-130deg);
  transform:rotate(-130deg);
}
.accordion .title_block:hover {
	 background:rgb(234, 224, 247);
}

/* заголовок активного блока  */
.accordion .active_block .title_block {
  /*background: #26A69A;*/
 color: #5513A0;
}
/* блоки с содержанием */
.accordion .info {
  display:none;
  padding:15px 25px;
  overflow: hidden;
  background:#fff;
}
/* параграф внутри блоков с содержанием */
.accordion .info_item {
  margin-bottom:10px
}

.accordion_item .title_block{ 
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
font-family: 'CocogooseClassic-Bold';
color: #5513A0;
}
/*====================================*/

.accordion {
	padding-top: 30px;
	padding-bottom: 5px;
}
.info_title {
	font-size: 18px;
	font-family: 'CocogooseClassic-Bold'; 
	/*color: #8A8E96;*/
	line-height: 28px;
	margin-bottom: 30px;
	margin-top: 20px;
}
.info_item {
	font-size: 18px;
	font-family: 'CocogooseClassic-Light'; 
	color: #8A8E96;
	line-height: 28px;
}
.active_block .info {
	background: #FAFAFE;
}
.active_block .title_block {
border:1px solid  #5513A0;
}

.active_block {
border:none;
}

.accordion_item .title_block {
    border:1px solid  #5513A0;
}
.questions_btn_more {
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: underline;
	color:#34333C;
	font-family: 'CocogooseClassic-Bold'; 
	transition: .3s;
	margin-left: 40px;
}
.questions_btn_more:hover {
color:#E72F4F;
}
.questions_btn_calk {
	width:262px ;
	height:60px;
	color: #fff;
	background: #5513A0;
	border-radius: 50px;
	text-transform: uppercase;
	font-family: 'CocogooseClassic-Bold'; 
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 0px 5px 15px 0px rgba(85,19,160,.8);
-moz-box-shadow: 0px 5px 15px 0px rgba(85,19,160,.8);
box-shadow: 0px 5px 15px 0px rgba(85,19,160,.8);
transition: .2s;
}
.questions_btn_calk:hover {
-webkit-box-shadow: 0px 5px 15px 0px rgba(123,46,210,.8);
-moz-box-shadow: 0px 5px 15px 0px rgba(123,46,210,.8);
box-shadow: 0px 5px 15px 0px rgba(123,46,210,.8);
background: #7B2ED2;
}
.questions_btn_wrap {
	display: flex;
	align-items: center;
}
/*footer*/
.footer {
	padding-top: 60px;
	padding-bottom: 30px;
	background: #4A118A;
}
.footer_menu_title {
	color:#B387D5;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'CocogooseClassic-Bold';  
	margin-bottom: 10px;
}
.footer_site_menu a {
color: #fff;
font-size: 18px;
font-family: 'CocogooseClassic-Medium'; 
line-height: 18px;
transition: .3s;
}
.footer_site_menu a:hover {
color: #E72F4F;
}
.footer_site_menu li {
padding: 5px 0px;
}
.footer_line {
	height: 1px;
	width: 100%;
	background: #9580AC;
	margin-top: 45px;
	margin-bottom: 25px;
}
.footer_mark {
	color: #B387D5;
	font-size: 18px;
	font-family: 'CocogooseClassic-Medium'; 
}
.footer_mark span{
	position: relative;
	top: -2px;
	margin-right: 5px;
}
.footer_sosial {
	width:40px;
	height:40px;
	border:2px solid #B387D5;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s
}
.footer_sosial svg {
	fill:#B387D5 ;
	transition: .3s
}
.footer_sosial svg:hover {
	fill: #fff;
}
.footer_sosial_wrap a:hover .footer_sosial{
     border:2px solid #fff;
}
.footer_sosial_wrap a:hover .footer_sosial svg{
     fill: #fff;
}
.footer_sosial_wrap a{
    display: inline-block;
    margin-left: 5px;
}
#why .owl-carousel{
	display: flex !important;
	justify-content: space-between !important;
}

/*меню*/


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

ul.navbari {
  background: #fff; /* Old browsers */
  width: 100%;
}

ul.navbari li {
	float: left;
	margin: 0;
	position: relative;
}

ul.navbari li a {
	display: block;
	text-decoration: none;
	transition: all .2s ease-in-out;
}

ul.navbari .arr:hover: > a:nth-child(1) {
	border-bottom:2px solid red;
}
ul.navbari li ul {
  margin: 0;
  position: absolute;
  left: 10%;
  font-size: 10px;
  min-width: 260px;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition: all .1s ease;
  -webkit-box-shadow: 0px 7px 16px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 7px 16px 0px rgba(0,0,0,0.25);
box-shadow: 0px 7px 16px 0px rgba(0,0,0,0.25);
padding: 30px 40px;
}

ul.navbari ul li { float: none; }
ul.navbari li:hover > ul { opacity: 1; visibility: visible; left: 0; max-height: 250px }
ul.navbari > li:hover > ul { opacity: 1; visibility: visible; top: 100%; left: 0; }
ul.navbari li > ul  ul { top: 0; left: 90%; }
ul.navbari li > ul li:hover > ul { left: 100%; }

.arr{
	position: relative;
}
.arr:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 100%;
	margin-left: -24px;
	width: 7px;
	height: 7px;
    border-width: 2px 2px 0px 0px;
    border-style: solid;
    border-color: rgb(85, 19, 160);
    border-image: initial;
    transform: rotate(-45deg);
    margin-top: -2px;
}
.arr:before{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 80px;
	height: 2px;
    background: #5513A0;
    opacity: 0;
    z-index: 100;
    transition: .3s
}
.arr:hover:before{
    opacity: 1;
}

.arr:hover::after{
	transform: rotate(135deg);
	margin-top: -4px;
}
.arr {
	transition: .3s;
}
.navbari li a:hover::after{
	transform: rotate(45deg);
}
.arr ul a{
 color:#8A8E96 !important;
 text-transform: inherit;
 margin-right: 0px;
 font-size: 18px;
 font-family: 'CocogooseClassic-Medium';
}
.arr ul a:hover{
 color:#5513A0 !important;
}
.navbari a {
	cursor: pointer;
}
.arr a:nth-child(1):after {
	content: '';
	width: 20px;
	height: 1px;
	background: red;
}
.arr ul {
	background:#fff;
}
.navbari a{
	position: relative;
}
.header_nav {
	padding: 0px 40px;
}
.navbari li  a {
	padding: 18px 0px;
}
.navbari li ul a {
	padding: 0px 0px;
}
.modal_title {
	font-size: 30px;
	color: #34333C;
	font-family: 'CocogooseClassic-Light';
}
#exampleModal1 {
    position: relative;
    width: 470px;
    padding: 35px 40px;
    background: #fff;
    color: #bbb;
    border-radius: 6px;
    box-shadow: none;
}
.box-modal_close {
    font-size: 32px; 
}
.form_wrap_label {
	font-family: 'CocogooseClassic-Medium'; 
	font-size: 16px;
	color: #34333C;
	margin-bottom: 5px;
}
.form_wrap input{
	border:none;
	color: #8A8E96;
}
.form_wrap {
	border:1px solid #D4D4E0;
	margin: 20px 0px;
	padding: 20px;
}
.form_btn {
    height: 50px;
    background: #E72F4F;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'CocogooseClassic-Medium';
    transition: .3s;
}
.form_btn:hover {
  cursor: pointer;
  background: #FF5371;
}
.offer_about {
	background: url(../img/bg_about.jpg)no-repeat center center/cover !important;
}
.offer_form img {
	z-index: 100;
	/*background: #000;*/
	width: 270px;
	height: 270px;
}
.offer_about .offer_label_fig {
	width: 30px;
	height: 2px;
	background: #B387D5;
}
.offer_label_text {
	color: #B387D5;
	margin-left: 10px;
	font-size: 18px;
	font-family: 'CocogooseClassic-Bold';  
}
.offer_label {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}
.offer_about .offer_main {
     top: 0px; 
}
.arr {
	margin-right: 15px !important;
}

.footer_mark {
	height: 100%;
	display: flex;
    align-items: center;
}

#why .slick-track {
	display: flex;
	justify-content: space-between;
}

/*меню*/



/*не трогать*/




/*иконка бургера*/
/* button starting stylings ------------------------------- */
.toggle-hamburger {
  background: #4B0996;
  color: #ccc;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  transform: scale(.6);
}
.toggle-hamburger:focus {
  outline: none;
}

/* inner span stylings ------------------------------- */
.toggle-hamburger span {
  display: block;
  position: absolute;
  top: 39px;
  left: 18px;
  right: 18px;
  height: 3px;
  background: #fff;
}
.toggle-hamburger span::before, .toggle-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
}
.toggle-hamburger span::before {
  top: -15px;
}
.toggle-hamburger span::after {
  bottom: -15px;
}

.toggle-hamburger.toggle-hamburger__animx span {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}
.toggle-hamburger.toggle-hamburger__animx span::before, .toggle-hamburger.toggle-hamburger__animx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}
.toggle-hamburger.toggle-hamburger__animx span::before {
  -webkit-transition-property: top, transform;
  transition-property: top, transform;
}
.toggle-hamburger.toggle-hamburger__animx span::after {
  -webkit-transition-property: bottom, transform;
  transition-property: bottom, transform;
}

/* when menu open: */
.toggle-hamburger.toggle-hamburger__animx.is-active span {
  background: none;
}
.toggle-hamburger.toggle-hamburger__animx.is-active span::before, .toggle-hamburger.toggle-hamburger__animx.is-active span::after {
  background-color: #fff;
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}
.toggle-hamburger.toggle-hamburger__animx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.toggle-hamburger.toggle-hamburger__animx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}




/*qqqqqqqqqqqqqq*/

.brger_menu {
	background: rgba(0,0,0,.7);
	position: fixed;
	/*top: 90px;*/
	left: 0px;
	transition:.5s;
	z-index: 400; 
	width: 100%;
	/*margin-left: -300px;*/
	display: none;
	height: 100%;
	margin-left: -100%;
}

.brger_menu li {
	text-align: center;
	/*padding: 15px 0px;*/
}
.brger_menu li:hover {
	background: #000;
}
.brger_menu a {
	color: #fff;
	font-size: 18px;
	width: 100%;
	font-weight: 500;
	padding: 15px 0px;
	display: block;
}
.vis {
	margin-left: 0px;
}

.vis_non {
	margin-left: -300px;
}
.product_gate_title p {
	position: relative;
}

.product_gate_title p:after {
	content: "";
background: #fff;
position: absolute;
top: 50%;
left: 100%;
width: 520px;
height: 1px;
/*margin-left: 230px;*/
}
.product_gate_title p:before {
	content: "";
background: #fff;
position: absolute;
top: 50%;
left: 0px;
width: 520px;
height: 1px;
margin-left: -520px;
}

.product_gate_title {
overflow: hidden;
}
#feedback label{
	display: none !important;
}
#hisd label{
	display: none !important;
}


.form-control:focus {
	border-color: red;
	/*box-shadow: 0 0 0 .2rem rgba(215,33,30,.8)*/
	border-bottom:2px solid red;
}


.toggle-hamburger span::before {
    width: 20px;
  
}
.toggle-hamburger span::after {
    width: 30px;
}

.is-active  span::before {
    position: absolute;
    display: block;
    left: 0;
    width: 100% !important;
    height: 3px;
    background-color: #fd5050;
    content: "";
}
.is-active  span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100% !important;
    height: 3px;
    background-color: #fd5050;
    content: "";
}
.burger_test {
	display: inline-block;
	background: #4B0996;
	display: none;
}
.header_btn_call img {
	display: none;
}
.point {
	display: none
}

/*.brger_menu {
	position: relative;
	
}*/

#why .slick-next { 
    /*border: 1px solid red;*/
    background: #fff url(../img/arr_left.png)no-repeat center center;
    width: 60px;
    height: 60px;
    z-index: 100;  
}
#why .slick-prev { 
    /*border: 1px solid red;*/
    background: #fff url(../img/arr_right.png)no-repeat center center;
    width: 60px;
    height: 60px;
    z-index: 100;  
}

#why .slick-next {
    right: 36px;
    top: -70px;
}
#why .slick-prev {
    left: 100%;
    top: -70px;
    margin-left: -160px;
}

#why .slick-prev::before {
    content: '';
}
#why .slick-next::before {
    content: '';
}


/*аккордион меню*/


.accordion-menu {
  width: 100%;
  max-width: 350px;
  margin: 60px auto 20px;
  background: #fff;
  border-radius: 4px;
}

.accordion-menu li.open .dropdownlink {
  color: #CDDC39;
}
.accordion-menu li.open .dropdownlink .fa-chevron-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-menu li:last-child .dropdownlink {
  border-bottom: 0;
}

.dropdownlink {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 45px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  color: #212121;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.dropdownlink i {
  position: absolute;
  top: 17px;
  left: 16px;
}
.dropdownlink .fa-chevron-down {
  right: 12px;
  left: auto;
}

.submenuItems {
  display: none;
  background: #C8E6C9;
}
.submenuItems li {
  border-bottom: 1px solid #B6B6B6;
}

.submenuItems a {
  display: block;
  color: #727272;
  padding: 12px 12px 12px 45px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.submenuItems a:hover {
  background-color: #CDDC39;
  color: #fff;
}





/*второе решение*/



.jquery-accordion-menu,.jquery-accordion-menu * {
        /*font-family: 'Open Sans',sans-serif;*/
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        outline: 0
}

.jquery-accordion-menu {
        min-width: 375px;
        float: left;
        position: relative;
        box-shadow: 0 20px 50px #333
}

.jquery-accordion-menu .jquery-accordion-menu-footer,.jquery-accordion-menu .jquery-accordion-menu-header {
        width: 100%;
        height: 50px;
        padding-left: 22px;
        float: left;
        line-height: 50px;
        font-weight: 600;
        color: #f0f0f0;
        background: #414956
}

.jquery-accordion-menu ul {
        margin: 0;
        padding: 0;
        list-style: none
}

.jquery-accordion-menu ul li {
        width: 100%;
        display: block;
        float: left;
        position: relative
}

.jquery-accordion-menu ul li a {
        width: 100%;
        padding: 14px 22px;
        float: left;
        text-decoration: none;
        color: #f0f0f0;
        font-size: 13px;
        background: #414956;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        -o-transition: color .2s linear,background .2s linear;
        -moz-transition: color .2s linear,background .2s linear;
        -webkit-transition: color .2s linear,background .2s linear;
        transition: color .2s linear,background .2s linear
}

.jquery-accordion-menu>ul>li.active>a,.jquery-accordion-menu>ul>li:hover>a {
        color: #fff;
        background: #3b424d
}

.jquery-accordion-menu>ul>li>a {
        border-bottom: solid 1px #3b424d
}

.jquery-accordion-menu ul li a i {
        width: 34px;
        float: left;
        line-height: 18px;
        font-size: 16px;
        text-align: left
}

.jquery-accordion-menu .submenu-indicator {
        float: right;
        right: 22px;
        position: absolute;
        line-height: 19px;
        font-size: 12px;
        -o-transition: transform .3s linear;
        -moz-transition: transform .3s linear;
        -webkit-transition: transform .3s linear;
        -ms-transition: transform .3s linear
}

.jquery-accordion-menu ul ul.submenu .submenu-indicator {
        line-height: 16px
}

.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator {
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
}

.jquery-accordion-menu ul ul.submenu,.jquery-accordion-menu ul ul.submenu li ul.submenu {
        width: 100%;
        display: none;
        position: static
}

.jquery-accordion-menu ul ul.submenu li {
        clear: both;
        width: 100%
}
/*фон вложенных меню*/


.jquery-accordion-menu ul ul.submenu li a {
        width: 100%;
        float: left;
        font-size: 11px;
        background: #5513A0;
        border-top: none;
        position: relative;
        border-left: solid 6px transparent;
        -o-transition: border .2s linear;
        -moz-transition: border .2s linear;
        -webkit-transition: border .2s linear;
        transition: border .2s linear
}

.jquery-accordion-menu ul ul.submenu li:hover>a {
        border-left-color: #414956
}

.jquery-accordion-menu ul ul.submenu>li>a {
        padding-left: 30px
}

.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a {
        padding-left: 45px
}

.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a {
        padding-left: 60px
}

.jquery-accordion-menu ul li .jquery-accordion-menu-label,.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
        min-width: 20px;
        padding: 1px 2px 1px 1px;
        position: absolute;
        right: 18px;
        top: 14px;
        font-size: 11px;
        font-weight: 800;
        color: #555;
        text-align: center;
        line-height: 18px;
        background: #f0f0f0;
        border-radius: 100%
}

.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
        top: 12px
}

.ink {
        display: block;
        position: absolute;
        background: rgba(255,255,255,.3);
        border-radius: 100%;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0)
}

.animate-ink {
        -webkit-animation: ripple .5s linear;
        -moz-animation: ripple .5s linear;
        -ms-animation: ripple .5s linear;
        -o-animation: ripple .5s linear;
        animation: ripple .5s linear
}

@-webkit-keyframes ripple {
        100% {
                opacity: 0;
                -webkit-transform: scale(2.5)
        }
}

@-moz-keyframes ripple {
        100% {
                opacity: 0;
                -moz-transform: scale(2.5)
        }
}

@-o-keyframes ripple {
        100% {
                opacity: 0;
                -o-transform: scale(2.5)
        }
}

@keyframes ripple {
        100% {
                opacity: 0;
                transform: scale(2.5)
        }
}

/*стили для синего цвета маню*/
.blue.jquery-accordion-menu .jquery-accordion-menu-footer,.blue.jquery-accordion-menu .jquery-accordion-menu-header,.blue.jquery-accordion-menu ul li a {
        background: #4A89DC
}

.blue.jquery-accordion-menu>ul>li.active>a,.blue.jquery-accordion-menu>ul>li:hover>a {
        background: #3e82da
}

.blue.jquery-accordion-menu>ul>li>a {
        border-bottom-color: #3e82da
}

.blue.jquery-accordion-menu ul ul.submenu li:hover>a {
        border-left-color: #3e82da;
        background: #5513A0;
}
/*конец*/

/*стили для зеленого цвета маню*/
.green.jquery-accordion-menu .jquery-accordion-menu-footer,.green.jquery-accordion-menu .jquery-accordion-menu-header,.green.jquery-accordion-menu ul li a {
        background: #5513A0
}

.green.jquery-accordion-menu>ul>li.active>a,.green.jquery-accordion-menu>ul>li:hover>a {
        background: #5513A0
}

.green.jquery-accordion-menu>ul>li>a {
        border-bottom-color: #5513A0
}

.green.jquery-accordion-menu ul ul.submenu li:hover>a  {
        border-left-color:#5513A0;
        background: #3b3b3b; 
}

/*конец*/

/*стили для красного цвета маню*/
.red.jquery-accordion-menu .jquery-accordion-menu-footer,.red.jquery-accordion-menu .jquery-accordion-menu-header,.red.jquery-accordion-menu ul li a {
        background: #ED5565
}

.red.jquery-accordion-menu>ul>li.active>a,.red.jquery-accordion-menu>ul>li:hover>a {
        background: #DA4453
}

.red.jquery-accordion-menu>ul>li>a {
        border-bottom-color: #DA4453
}

.red.jquery-accordion-menu ul ul.submenu li:hover>a {
        border-left-color: #DA4453;
        background: #3b3b3b;
}
/*конец*/

/*стили для белого цвета маню*/
.white.jquery-accordion-menu .jquery-accordion-menu-footer,.white.jquery-accordion-menu .jquery-accordion-menu-header,.white.jquery-accordion-menu ul li a {
        background: #fff;
        color: #555
}

.white.jquery-accordion-menu>ul>li.active>a,.white.jquery-accordion-menu>ul>li:hover>a {
        background: #f0f0f0
}

.white.jquery-accordion-menu>ul>li>a {
        border-bottom-color: #f0f0f0
}

.white.jquery-accordion-menu ul ul.submenu li:hover>a {
        border-left-color: #f0f0f0;
        background: #3b3b3b;
}

.white.jquery-accordion-menu ul ul.submenu li a {
        color: #f0f0f0
}

.white.jquery-accordion-menu>ul>li>a>.ink {
        background: rgba(0,0,0,.1)
}
/*конец*/

/*стили для черного цвета маню*/
.black.jquery-accordion-menu .jquery-accordion-menu-footer,.black.jquery-accordion-menu .jquery-accordion-menu-header,.black.jquery-accordion-menu ul li a {
        background: #292929
}

.black.jquery-accordion-menu>ul>li.active>a,.black.jquery-accordion-menu>ul>li:hover>a {
        background: #222
}

.black.jquery-accordion-menu>ul>li>a {
        border-bottom-color: #222
}

.black.jquery-accordion-menu ul ul.submenu li:hover>a {
        border-left-color: #222;
        background: #3b3b3b;
}
/*конец*/

.content{
        width:375px;/*ширина меню*/
        margin:100px auto;
}

/*стили поисковой строки*/
.filterinput{
        background-color:rgba(249, 244, 244, 0);
        border-radius:15px;
        width:90%;
        height:30px;
        border:thin solid #FFF;
        text-indent:0.5em;
        font-weight:bold;
        color:#FFF;
}
/*конец*/
#demo-list a{
        overflow:hidden;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        white-space:nowrap;
        width:100%;
}

#demo-list a {
    text-align: left;
}


.brger_menu ul {
    background: #5513A0;
    position: absolute;
    top: 0px;
    left: 100%;
    margin-left: -245px;
    width: 100%;
    margin-top: -20px;
}
.submenu {
	margin-left: 0px !important;
}
#demo-list a {
	color: #fff;
	font-size: 16px;
	font-family: 'CocogooseClassic-Medium'; 
	text-transform: uppercase;
}

.submenu a {
	text-transform: inherit !important;
	color: #AA89CF !important;
}
#demo-list li {
	border-bottom:1px solid #7742B3;
}
.submenu li {
	border-bottom:none !important;
}
#demo-list {
	padding: 15px;
}


.chevron.left:before {
	left: 100%;
	margin-left: -74px;
	transform: rotate(-225deg);
}

.chevron::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 8px;
    left: 0.15em;
    position: relative;
    top: 5px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 8px;
    transition: .3s;
}

.submenu-indicator-minus .chevron::before {
    transform: rotate(-135deg);
    top: 8px;
}
#demo-list li:last-child{
	border-bottom:none !important;
}


.content {
    width: 100%;
    margin: 101px auto;
    left: 100%;
    position: relative;
}
.brger_menu ul {
    background: #5513A0;
    position: absolute;
    top: 0px;
     left: 0px; 
    margin-left: -375px;
    width: 100%;
    margin-top: -20px;
}
.submenu a {
	padding: 5px 20px !important;
}

.submenu li:last-child{
	padding-bottom: 10px;
}
.header_cont_icon {
    height: 30px;
}
.header_btn_cont span {
    height: 30px;
    display: flex;
    align-items: center;
}

















/*адаптив*/

@media screen and (max-width: 1240px) {
	#why .slick-track {
		display: flex;
		justify-content: space-between;
	}
}
@media screen and (max-width: 1200px) {
#offer {
    background: url(../img/bg.jpg)no-repeat center center;
}
}
@media screen and (max-width: 1100px) {
.why_slid {
    width: 472px !important;
}
}

@media screen and (max-width: 991px) {
.accordion {
    width: 100%;
}
#customers .slick-slide {
    padding: 20px;
}
#customers .slick-slide {
    margin-right: 15px;
    margin-left: 15px;
}
section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.step_card {
    width: 220px;
}
#step {
    padding-bottom: 70px;
}
#offer {
	padding-top: 75px;
}
}
@media screen and (max-width: 920px) {
.footer_sosial_wrap a {
     margin-left: 0px;
}
.footer_sosial_wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#why .title_under {
	width: 450px;
}
#why .title_bloc h2 {
  width: 450px;
}
}

@media screen and (max-width: 768px) {
.footer_mark {
	border-top: 1px solid #9580AC;
	padding-top: 0px;
	margin-top: 25px;
}
.footer_line {
    margin-top: 40px;
    margin-bottom: 45px;
}
.footer {
    padding-top: 40px;
    padding-bottom: 30px;
    background: #4A118A;
}
.title_bloc h2 {
    font-size: 50px;
    line-height: 60px;
}
#step .title_bloc h2 {
    width: 600px;
}
.header_nav {
	display: none;
}
#top_margin {
    height: 60px;
}
.burger_test {
	display: block;
}
.header_wrap_logo {
    justify-content: space-between;
    padding: 0px 0px;
    padding-left: 40px;
}
#top_margin {
    height: 80px;
}
.header_border {
    /* height: 1px; */
    display: none;
}
.header_btn_call img {
	display: block;
}
.header_btn_call span {
color:#34333C;
margin-left: 6px;
}
.header_btn_call {
    height: 29px;
    background: none;
}
.point {
	display:block;
	margin-left: 15px;
	margin-right: 5px;
}
.header_btn_call {
     margin-left: 0px; 
}
.brger_menu {
display:block;
}
}
@media screen and (max-width: 710px) {
.offer_main_title h1 {
    font-size: 50px;
}
}
@media screen and (max-width: 690px) {
.step_card {
    margin: 40px; 
}
.step_wrap {
    justify-content: space-around;
}
}
@media screen and (max-width: 670px) {
.why_slid {
    width: 100% !important;
}
#why .button_wrap {
	margin-top: 95px;
}
#why .slick-next {
    right: 50%;
    margin-right: -60px;
    top: 100%;
    margin-top: 60px;
}
#why .slick-prev {
    left: 50%;
    margin-left: -65px;
    top: 100%;
    margin-top: 60px;
}
}
@media screen and (max-width: 610px) {
.step_card {
    width: 100%;
}
#step .title_bloc h2 {
    width: 100%;
}
.box-modal {
    width: 300px;
}
}
@media screen and (max-width: 576px) {
.footer_sosial_wrap{
justify-content: center;
}
.footer_sosial_wrap a{
	margin: 0px 6px;
}
.logo_wrap {
	display: flex;
	justify-content: center;
}
.logo_wrap a {
	display: block;
}
.footer_sosial_wrap{
	margin-top: 39px;
}
.footer_mark {
	display: flex;
    justify-content: center;
}
.footer_site_menu {
	justify-content: center;
}
.footer_site_menu {
	width: 200px;
	margin: 0 auto;
	margin-bottom: 35px;
}
.title_bloc h2 {
    font-size: 40px;
    line-height: 50px;
}
#customers .slick-next {
    width: 50px;
    height: 50px;
}
#customers .slick-prev {
    width: 50px;
    height: 50px;
}
#customers .slick-prev {
    left: 50%;
    top: 215px;
    margin-left: -54px;
}
#customers .slick-next {
    right: 50%;
    top: 215px;
    margin-right: -50px;
}
.customers_wrap {
    margin-top: 35px;
}
#questions {
	padding-bottom: 60px !important;
}
.step_card {
    margin: 10px;
}
.step_wrap {
    justify-content: space-between;
    margin: 35px 0px;
}
#customers {
padding-bottom: 120px;
padding-top: 155px;
}
#offer{
	padding-bottom: 130px;
}
.header_btn_call {
	display: none;
}
.point {
	display: none;
}
.link_cont {
	display: none;
}
}
@media screen and (max-width: 575px) {
.offer_form_wrap {
	position: relative;
}
.offer_form {
	position: absolute;
	left:50%; 
	margin-left: -135px;

}
#why .title_bloc h2 {
    width: 100%;
}
#why .title_under {
    width: 100%;
}
.why {
    padding-top: 55px;
    padding-bottom: 70px;

}
}
@media screen and (max-width: 480px) {
.questions_btn_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.questions_btn_more {
margin-left: 0px;
margin-top: 30px;
}
.why {
    padding-bottom: 68px;
}
#offer {
    padding-bottom: 169px;
}
}
@media screen and (max-width: 400px) {
.jquery-accordion-menu {
    min-width: 100%;
}
.brger_menu ul {
margin-left: -100%;
}
}
@media screen and (max-width: 375px) {
#offer {
    padding-bottom: 218px;
}
#customers {
    padding-bottom: 120px;
    padding-top: 113px;
}

}
@media screen and (max-width: 340px) {
.title_bloc h2 {
    font-size: 36px;
}
}